body {
			font-family: Arial,sans-serif;
			margin: 0;
			padding: 0;
			background-color: #00ffff;
		}
		header {
             background-color: #7fffd4;
             color: #fff;
             padding: 10px;
             text-align: left;
        }
		nav {
			background-color: #444;
			padding: 10px;
			text-align: center;
		}
		nav a {
			color: #fff;
			text-decoration: none;
			margin: 0 10px;
		}
		section {
			padding: 30px;
		}
		footer {
			background-color: #333;
			color: yellow;
			padding: 10px;
			text-align: left;
			position: fixed;
			bottom: 0;
			width: 100%;
		}